# Timezone
TZ=Europe/Kyiv

# Global RTSP options
RTSP_TIMEOUT_US=2000000
SEGMENT_TIME_S=1800

# go2rtc HTTP base URL
GO2RTC_HTTP=/go2rtc

# UI: number of cameras to show
CAMERA_COUNT=2

# Basic auth (bcrypt hash)
AUTH_USER=admin
AUTH_PASS_HASH=

# Camera 1
CAM1_NAME=cam1
CAM1_URL=rtsp://USER:PASSWORD@IP:PORT/stream1
CAM1_RECORDINGS_DIR=/PATH-TO-RECORDINGS/cam1

# Camera 2
CAM2_NAME=cam2
CAM2_URL=rtsp://USER:PASSWORD@IP:PORT/stream1
CAM2_RECORDINGS_DIR=/PATH-TO-RECORDINGS/cam2